   
    #main {
        color: rgb(31, 61, 1);
        width: 600px;
        margin: 0 auto;
         }
    .ngilang{
        visibility: collapse;
    }
    body{
        background-color: burlywood;
    }
    
    h2 {
        text-align: center;
        border-style: solid;
    }
    