.box {
  color: blueviolet;

    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
  .after-box {
    clear: left;
  }

  .color {
    color: chocolate;
  }
  
  body{
    background-color: burlywood;
}

h2 {
    text-align: center;
    border-style: solid;
}