article img {
    float: right;
    width: 50%;
  }
  div{
    border-style: groove;
  }
  .clearfix {
  
      overflow: auto;
      zoom: 1;
    }
    img {
      float: right;
      border-style: solid;
    }
    .hilang{
        visibility: hidden;
    }
    nav {
        border-color: turquoise;
        border-style: groove;
        float: left;
        width: 15%;
      }
      section {
        border-style: groove;
        border-color: coral;
        margin-left: 16%;
      } 
      body{
        background-color: burlywood;
    }
    
    h2 {
        text-align: center;
        border-style: solid;
    }
    